.container{
	width: 80%;
}
.second-section, .third-section, .fourth-section{
	background-color: #FFF0E4;
}
.second-uno, .third-uno, .fourth-uno, .footer-uno{
	text-align: center;
}
footer{
	background-color: #FADDC3;
}
body{
	font-family: 'Open Sans', sans-serif;
	position: relative;
}
h2{
	@include titulosSecciones();
}
hr{
	border: 1px solid #B2835A;
}

/*FIRST SECTION*/
.navbar-default{
	margin-bottom: 0px;
	background-color: transparent;
	border: none;
}
.navbar-default .navbar-nav>li>a{
	color: #2F2B2B;
	font-weight: 700;
	padding: 20px 15px 15px;
}
.navbar-default .navbar-nav > .active > a{
	background-color: #FBDDC3;
	padding: 18px 20px 24px;
}
.first-section{
	background-image: url('../img/header.jpg');
	background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 670px;
}
.navbar-brand{
	font-family: 'Elsie Swash Caps', cursive;
    font-weight: 900;
    font-size: 45px;
    color: #2F2B2B !important;
    margin: 5px 0 5px 5px;
    border: 1px solid #2F2B2B;
}
.header-uno{
	text-align: center;
	h2{
		margin: 256px 0 11px;
    	font-size: 70px;
    	font-family: 'Raleway', sans-serif;
    	color: #472504;
    	span{
    		font-family: 'Elsie Swash Caps', cursive;
    		color: #936333;
    	}
	}	
}
.header-dos{
	text-align: center;
	h2{
		margin: 256px 0 11px;
    	font-size: 59px;
    	font-family: 'Raleway', sans-serif;
    	color: #472504;
    	span{
    		font-family: 'Elsie Swash Caps', cursive;
    		color: #936333;
    	}
	}
}
 /*SECOND SECTION*/
 .second-section{
	.second-dos{
		margin: 30px 0;
		text-align: center;
		p{
			color: #1C0D0D;
			font-size: 16px;
		}
	}
	.second-tres{
		text-align: center;
		margin: 30px 0 40px;
		img{
			width: 50%;
			border-radius: 5px;
		}
	}
 }

 /*THIRD SECTION*/
 .third-section{
 	div{
 		div{
 			div{
 				text-align: center;
 				padding: 30px;
 				i{
 					font-size: 100px;
 					&:hover + span{
						display: block;
 					}
 				}
 				span{
 					display: none;
 					position: relative;
 					top: -63px;
					left: 100px;
					font-weight: 700;
 				}
 			}
 		}
 	}
 }
 .herramientas-mobile{
 	i{
 		font-size: 53px !important;
 	}
 	span{
 		top: -38px !important;
		left: 68px !important;
		font-weight: 700 !important;
		font-size: 10px;
 	}
 }
 .third-dos{
 	h2{ 
 		font-size: 24px;
 	}
 }
.fourth-cinco{
	padding: 30px 0 60px !important;
}

 /*FOURTH SECTION*/
.fourth-section{
	text-align: center;
	.img-dos, .img-cuatro{
		width: 100%;
	}
	.img-dos{
		margin-bottom: 50px;
    	margin-top: 5px;
	}
	.img-cuatro{
		margin-bottom: 15px;
	}
	.img-tres{
		margin-bottom: 45px;
	}
}


/*FOOTER*/
footer{
	text-align: center;
	.footer-uno{
		h4{
			padding: 15px;
			width: 50%;
			display: inline-block;
			background-color: #B2835A;
			border-radius: 5px;
			color: #FFF0E4;
		}
	}
	.footer-margin{
		margin: 35px 0;
	}
	.footer-dos{
		text-align: right;
		a{
			color: #1C0D0D;
			i:hover{
				color: #B2835A;
			}
		}
	}
	.footer-tres{
		text-align: left;
		a{
			color: #1C0D0D;
			i:hover{
				color: #B2835A;
			}
		}
	}
	.footer-cuatro{
		h6{
			span{
				@include footerTipo();
			}
			a{
				@include footerTipo();
				text-decoration: none;
			}
		}
	}
}
.footer-uno-dos{
	h5{
		padding: 15px;
		width: 91%;
		display: inline-block;
		background-color: #B2835A;
		border-radius: 5px;
		color: #FFF0E4;
	}
}
/*HOVER PROYECTOS*/
.img-overlay{
		position: relative;
	}
	img{
		position: relative;
		z-index: 1;
	}
	.text-overlay{
		position: absolute;
		top: 40%;
		left: 0;
		z-index: -1;
		color: #fff;
		width: 100%;
		height: 100%;
		text-align: center;
	}
	.img-overlay:hover img{
		filter: brightness(50%);
	}
	.img-overlay:hover .text-overlay{
		z-index: 9;
	}
	.text-overlay a{
		color: #FEF0E3;
		font-weight: 700;
		text-decoration: none;
		padding: 5px 0 0;
		&:hover{
			color: #B2825A;
		}
	}


